#for-new-text {
    padding-top: 40px;
}

html {
    background: linear-gradient(to bottom right, #FFFFCC, #64bfe7) no-repeat center center fixed;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    align-content: center;
}

header {
    text-align: center;
}

#output-text {
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    right: 45%;
}